<ion-view title="Information">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content has-header="true">
		<ion-list>
			<ion-item class="item-remove-animate item-avatar item-icon-right" href="#" onclick="window.open('https://fr.linkedin.com/in/adrien-etienne-44615b5b', '_system', 'location=yes'); return false;">
				<img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAPPAAAAJDY1ZTQ3ZjljLWZlOWYtNGI1Yi1iMmYyLTYxMGE5ZmI2OWRiZA.jpg">
				<h2>Adrien Etienne</h2>
				<p>I'm coding! So let me in peace.</p>
			</ion-item>
			<ion-item href="#" onclick="window.open('https://github.com/AdrienEtienne/activin-app', '_system', 'location=yes'); return false;">
				Do a comment? Report a bug?
			</ion-item>
			<ion-item>
				Version : <span ng-bind="version"></span>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
