.button svg{
 display: block;
 margin:auto;
}
a, a:hover{
  text-decoration: none;
}

.center {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}

.center .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.center .item-input{
  margin-bottom: 10px;
  border-bottom-width: 5px;
  border-radius: 4px;
}

.item.radio{
  padding: 0px;

  .row{
    padding: 0px;

    .col{
      padding: 0px;
    }
  }
}
