<ion-view title="{{vm.title()}}">
	<ion-content class="has-header">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Search</span>
			<input type="text" placeholder="Address, place, interest point">
		</label>
		<ion-list ng-show="vm.hasPredictions()">
			<ion-item ng-click="vm.setResult($index)" ng-repeat="prediction in vm.getPredictions() track by $index">
				<p>{{prediction.description}}</p>
			</ion-item>
		</ion-list>
		<div class="padding">
			<button ng-click="vm.save()" class="button button-block button-positive">
			Save
			</button>
			<button ng-show="!vm.isNew()" ng-click="vm.remove()" class="button button-block button-assertive">
			Remove
			</button>
		</div>

	</ion-content>
</ion-view>
