<ion-view title="Places" ng-init="vm.showDelete = false">
	<ion-nav-buttons side="right">
		<button ng-click="vm.showDelete = !vm.showDelete" class="button">
			Remove
		</button>
		<a ui-sref="account.place">
			<button class="button">Add</button>
		</a>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<ion-list
			show-delete="vm.showDelete">
			<ion-item ui-sref="account.place({place: place})" class="item-icon-right"  ng-repeat="place in vm.places track by $index">
				<ion-delete-button ng-click="vm.removePlace($index)" class="ion-minus-circled">
				</ion-delete-button>
				<span ng-bind="place.name"></span>
				<i class="icon ion-arrow-right-c"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
