<ion-view title="Places" ng-init="vm.showDelete = false">
	<ion-nav-buttons side="right">
		<button ng-click="vm.showDelete = !vm.showDelete" class="button button-icon icon ion-minus-circled"></button>
		<a ui-sref="account.place">
			<button class="button button-icon icon ion-plus-circled"></button>
		</a>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<ion-list
			show-delete="vm.showDelete">
			<ion-item ui-sref="account.place({place: place})" ng-class="item-icon-right" ng-repeat="place in vm.getPlaces() track by $index">
				<i class="icon ion-arrow-right-c"></i>
				<p ng-bind="place.description"></p>
				<ion-delete-button ng-click="vm.removePlace($index)" class="ion-minus-circled">
				</ion-delete-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
