<ion-view hide-nav-bar="true">
	<form name="form" ng-submit="vm.login(form)" novalidate>
		<ion-content class="center authentication">
				<label class="item item-input" ng-class="{'invalid': form.email.$invalid && !form.email.$pristine, 'valid': form.email.$valid && !form.email.$pristine}">
					<span class="input-label">Email</span>
					<input placeholder="E-mail" ng-disabled="vm.isLogin" type="email" name="email" class="form-control" ng-model="vm.user.email" ng-model-options="{ updateOn: 'blur' }" required>
				</label>
				<label class="item item-input" ng-class="{'invalid': form.password.$invalid && !form.password.$pristine, 'valid': form.password.$valid && !form.password.$pristine}">
					<span class="input-label">Password</span>
					<input placeholder="Password" ng-disabled="vm.isLogin" type="password" name="password" class="form-control" ng-model="vm.user.password" ng-model-options="{ debounce: 700 }" ng-minlength="5" required>
				</label>

				<button class="button button-block button-positive" ng-disabled="form.$invalid" type="submit">
				<span ng-show="!vm.isLogin">Login</span>
				<ion-spinner class="spinner-light" ng-show="vm.isLogin" icon="spiral">
				</ion-spinner>
				</button>
				<a ui-sref="signup">
					<button class="button button-block button-outline button-balanced" ng-disabled="vm.isLogin">
					<span>Sign up</span>
					</button>
				</a>
				<oauth-buttons></oauth-buttons>
		</ion-content>

		<div class="bar bar-footer bar-assertive" ng-show="form.email.$invalid && !form.email.$pristine">
			<div class="title">Valid Email required.</div>
		</div>
		<div class="bar bar-footer bar-assertive" ng-show="form.password.$error.minlength && !form.password.$pristine">
			<div class="title">Password is too short.</div>
		</div>
		<div class="bar bar-footer bar-assertive" ng-show="vm.error">
			<div class="title">{{vm.error}}</div>
		</div>
	</form>
</ion-view>
