<ion-view hide-nav-bar="true">
  <ion-content class="authentication">
    <div class="list padding">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input placeholder="Name" ng-disabled="isSignup" type="text" name="name" class="form-control" ng-model="user.name" required />
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input placeholder="E-mail" ng-disabled="isSignup" type="email" name="email" class="form-control" ng-model="user.email" required />
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input placeholder="Password" ng-disabled="isSignup" type="password" name="password" class="form-control" ng-model="user.password" required />
      </label>
      <label class="item item-input">
        <span class="input-label">Confirm</span>
        <input placeholder="Password" ng-disabled="isSignup" type="password" name="password" class="form-control" ng-model="user.password2" required />
      </label>
      <button class="button button-block button-balanced" ng-disabled="isSignup" ng-click="signup()" >
      <span ng-show="!isSignup">Sign up</span>
      <ion-spinner class="spinner-light" ng-show="isSignup" icon="spiral">
      </ion-spinner>
      </button>
      <a ui-sref="login">
        <button class="button button-block button-outline button-positive" ng-disabled="isSignup">
        <span>Login</span>
        </button>
      </a>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{error}}</div>
  </div>
</ion-view>