/* Empty. Add your own CSS if you like */

.authentication {
  padding: 20%;
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.authentication .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}