<ion-view title="Partners">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="vm.modal.show()">Filter</button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card" ng-repeat="partner in vm.partners">
      <div class="item item-text-wrap item-button-right">
        <span ng-bind="partner.name"></span>,
        <span ng-bind="partner.distance | distance"></span>
        <button class="button button-outline button-positive">
        Invite
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>