<ion-view title="{{vm.title}}">
  <ion-nav-buttons side="right">
      <button ng-if="vm.add" ng-click="vm.add()" class="button">Add</button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <span ng-if="vm.partner">
      <workout ng-repeat="workout in vm.workouts" ng-model="workout" on-selection="vm.select(workout)" ></workout>
    </span>
    <span ng-if="!vm.partner">
      <workout ng-repeat="workout in vm.workouts" ng-model="workout" on-radio-selection="vm.invitResponse(choice, workout)" ></workout>
    </span>
  </ion-content>
</ion-view>
