<ion-view title="Dashboard">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="card">
      <a ui-sref="partners" class="item item-icon-left item-icon-right">
        <i class="icon ion-search"></i>
        Find partners
        <i class="icon ion-flag"></i>
      </a>
    </div>
    <div class="card">
      <a ui-sref="workouts">
        <div class="item item-divider">
          Sessions
        </div>
        <div class="item">
          Next coming!
          <span class="badge badge-balanced" ng-bind="vm.countNextWorkout()"></span>
        </div>
        <div class="item">
          You have to respond!
          <span class="badge badge-dark"  ng-bind="vm.countUnknownWorkout()"></span>
        </div>
        <div class="item">
          Refused? Why?!
          <span class="badge badge-assertive"  ng-bind="vm.countRefusedWorkout()"></span>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
